@import "./variable";

.sidebar-item {
  padding: 0 12px;
  height: $item-height;
  line-height: $item-height;
  font-size: 15px;

  &:hover {
    background-color: #3F4456;
    cursor: pointer;

    .more-icon {
      display: inline-block;

      &:focus {
        outline: none;
      }
    }
  }

  $icon-width: 32px;
  $icon-right: 10px;
  $unfold-icon-width: 28px;
  $more-icon-width: 20px;
  .icon {
    float: left;
    width: $icon-width;
    height: $item-height;
    line-height: $item-height;
    margin-right: $icon-right;
    text-align: center;
  }

  .text {
    float: left;
    width: calc(100% - #{$icon-width + $icon-right + $unfold-icon-width + $more-icon-width});
  }

  .unfold-icon {
    float: left;
    width: $unfold-icon-width;
    height: $item-height;
    line-height: $item-height;
    text-align: center;
  }

  .more-icon {
    float: left;
    width: $more-icon-width;
    height: $item-height;
    line-height: $item-height;
    text-align: center;

    &:hover {
      color: $main-color;
    }
  }
}

li {
  .more-icon {
    display: none;
    outline: none;
  }

  .current-more-icon {
    display: inline-block;
  }
}
