//$main-color: #25b5fa;
//$header-height: 56px;
//$sidebar-width: 240px;

$success-color: #13CE66; // (19,206,102)
$warning-color: #F7BA2A; // (247,186,42)
$error-color: #FF4949; // (255,73,73)
$blue: #0099FF;
$gray: #999;
$light-gray: #CCC;
$main-color: #2AC282;
$main-height: 40px;
$body-max-width: 1500px;
$body-padding-top: 20px;
$body-padding-right: 0;
$body-padding-bottom: 20px;
$body-padding-left: 30px;
$body-bg-color: #FAFAFA;
$border-color: #CCC;

$logo-height: 80px;
$item-height: 50px;
$server-list-height: 50px;
$user-msg-height: 60px;
$sidebar-width: 260px;
$sidebar-bg-color: #2B3245;
